#logo-container {
   width: 100px;
   height: 100px;
   position: relative;
   margin: 20px; 
   -webkit-perspective: 300px;
   -moz-perspective: 300px;
   -o-perspective: 300px;
   perspective: 300px;
 }

 @-webkit-keyframes rotating {
    0% {
      -webkit-transform: rotateY(-40deg) translateY(20px) rotateZ(-10deg);
}

50% {
      -webkit-transform: rotateY(40deg) translateY(-20px) rotateZ(10deg);
}

100% {
      -webkit-transform: rotateY(-40deg) translateY(20px) rotateZ(-10deg);
}
}

#logo {
   width: 100%;
   height: 100%;
   position: absolute;

   -webkit-transform: rotateY(20deg);

   
   -webkit-animation-duration: 3s;
   -webkit-animation-name: rotating;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;

   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -o-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }



 #logo figure {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    /*-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;*/

   background-color: #666;
   border-radius: 2px;
 }

 #logo .front {
 }

 #logo .back {
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
 }

 #logo .left {
    left: 50px;
    width: 20px;
    height: 120px;
 }

 #logo .right {
    left: 50px;
    width: 20px;
    height: 120px;
 }

 #logo .top {
    width: 120px;
    height: 20px;
    top: 50px;
 }

 #logo .bottom {
    width: 120px;
    height: 20px;
    top: 50px;
 }

#logo .front  { -webkit-transform: rotateY(   0deg ) translateZ(  10px ); }
#logo .back   { -webkit-transform: rotateX( 180deg ) translateZ(  10px ); }
#logo .right  { -webkit-transform: rotateY(  90deg ) translateZ( 60px ); }
#logo .left   { -webkit-transform: rotateY( -90deg ) translateZ( 60px ); }
#logo .top    { -webkit-transform: rotateX(  90deg ) translateZ( 60px ); }
#logo .bottom { -webkit-transform: rotateX( -90deg ) translateZ( 60px ); }
