/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

@font-face {
font-family: Edmondsans;
src: url("/fonts/Edmondsans-Regular.otf") format("opentype");
}

@font-face {
font-family: Edmondsans;
font-weight: lighter;
src: url("/fonts/Edmondsans-Medium.otf") format("opentype");
}

@font-face {
font-family: Edmondsans;
font-weight: bold;
src: url("/fonts/Edmondsans-Bold.otf") format("opentype");
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#EEE), to(#F2E8DA));
  background: -moz-linear-gradient(top,  #EEE,  #F2E8DA);
  font-family: 'Edmondsans', serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Edmondsans', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #444;
}

h1 { margin-bottom: 1em; }

p { 
  font-family: serif;
  margin: 1em 0;
  font-size: 16px;
  color: #444;
}

a {
  color: #D96D53;
  text-decoration: none;
}

a:hover {
  color: #BE3F18;
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts li a {
  text-transform: uppercase;
  letter-spacing: 3px;
}

ul.posts span {
  color: #BBB;
  font-family: "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em 4em;
  padding: 3em 1em .5em 1em;
}

.site .header a {
  letter-spacing: 6px;
  line-height: 2em;
  border: solid 2px;
  padding: 0.5em 0.5em 0.35em 0.5em;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  padding-top: 0.5em;
  overflow: hidden;

}

.site .footer .contact {
  float: left;
  margin-right: 3em;
  color: #BBB;
  font-family: "Courier New", monospace;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

.post h2 {
  font-weight: lighter;
  letter-spacing: 4px;
}

.post span {
  color: #BBB;
  font-family: "Courier New", monospace;
  font-size: 80%;
}

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
