.bounce {
   transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.7) 0s;
}

table {
   max-width: 1000px;
   margin: 0 auto;
}

table td {
   width: 60px;
   height: 60px;
   position: relative;
}

td div {
   height: 60px;
   width: 60px;
   position: absolute;
   left: 50%;
   margin-left: -30px;
   margin-top: -30px;
}

td div:hover {
   height: 70px;
   width: 70px;
   margin-left: -35px;
   margin-top: -35px;
   z-index: 10;

   box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.row-sel {
   height: 100px;
}

.col-sel {
   width: 100px;
}

.red {
   background-color: red;
}

.green {
   background-color: green;
}
