* {
  margin: 0;
  padding: 0;
}

.bounce {
   transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.7) 0s;
}

.game-board {
   width: 600px;
   height: 600px;
   margin: auto;
   position: relative;
}

.cell {
   position: absolute;
   width: 58px;
   height: 58px;
}

.sel-row {
   pointer-events: none;
}

.red {
   background-color: red;
}

.green {
   background-color: green;
}
